


body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #ffffff;
  background-image: url('https://image.cdn2.seaart.ai/2024-06-15/cpmit9te878c73bfml6g/9893361d9566d1ce5813ac1bc5bc4e36c6f37919_high.webp');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.tarjeta {
  background: #4b0082;
  background-image: url('https://www.transparenttextures.com/patterns/hearts.png');
  background-size: cover;
  border-radius: 20px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  color: white;
  text-align: center;
  box-shadow: 0 0 25px rgba(255, 192, 203, 0.5);
  animation: fadeIn 2s ease;
}

.tarjeta {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 1s ease, transform 0.5s ease;
}

.tarjeta.mostrar {
  opacity: 1;
  transform: scale(1);
}


.imagen-pareja {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.mensaje-principal p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}

#verPregunta {
  background-color: #e091b2;
  color: white;
}

.pregunta-oculta {
  display: none;
  margin-top: 20px;
}

.botones {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.btn-si {
  background-color: #f28bb0;
  color: white;
}

.btn-no {
  background-color: #a98bd9;
  color: white;
  position: relative;
}

.confirmacion-oculta {
  display: none;
  font-size: 0.95rem;
  color: #ffccf9;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

.swal2-popup.alerta-romantica {
  border-radius: 20px !important;
  padding: 20px;
  box-shadow: 0 0 20px rgba(255, 182, 193, 0.4);
}


.carta-contenedor {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.carta {
  width: 200px;
  height: 120px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  cursor: pointer;
}

.carta.abierta {
  transform: rotateY(180deg);
  transition: transform 1s ease-in-out;
}

.carta .cara {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff0f5;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  backface-visibility: hidden;
}

.carta .frente {
  background: #ffc0cb;
}

.carta .trasera {
  background: #e6ccff;
  transform: rotateY(180deg);
}
.flor {
  position: fixed;
  top: -50px;
  font-size: 24px;
  animation: caer 7s linear forwards;
  pointer-events: none;
  z-index: 9999;
  user-select: none;
}

@keyframes caer {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
